body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #d8f9d8;
	font-family: 'Open Sans', sans-serif;
}

.grid-item-content {
	padding: 24px 12px;
	transition: 0.5s;
} 
.grid-item-content:hover {
	position: relative;
	top: -5px;
	left: -5px;
}
.img-container {
	width: 100%;
}
.img-container>img {
	width: 100%;
}
.img-container:hover {

}

.grid {
	margin-top: 100px;
	margin-bottom: 100px;
}

/* Pic page */
.img-page img {
	filter: drop-shadow(12px 12px 0px yellow);
	margin-bottom: 40px;
}
h1 {
    font-family: 'Passion One', cursive;
}
hr {
	margin-bottom: 50px;
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
	.grid-item-content {
		padding: 12px 6px !important;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


